[submodule "Packages/GF-Core"]
	path = Packages/GF-Core
	url = https://github.com/shaun-he/GF-Core
[submodule "Packages/GF-EventSystem"]
	path = Packages/GF-EventSystem
	url = https://github.com/shaun-he/GF-EventSystem
[submodule "Packages/GF-Debugger"]
	path = Packages/GF-Debugger
	url = https://github.com/shaun-he/GF-Debugger
